<config>
<model>
  <name> Fisheries Model, Depth 12</name>
  <desc> A population model </desc>
</model>
<param>
  <dim> 2 </dim>
  <bounds>
    <lower> 8.0 3.0 </lower>
    <upper> 37.0 50.0 </upper>
  </bounds>
  <subdiv>
    <depth> 6 </depth>
  </subdiv>
</param>
<phase>
  <dim> 2 </dim>
  <bounds>
    <lower> 0.0 0.0 </lower>
    <upper> 10.0 10.0 </upper>
  </bounds>
  <subdiv>
    <init> 1 </init>
    <min> 24 </min>
    <max> 32 </max>
    <limit> 10000 </limit>
  </subdiv>
</phase>
</config>
