<config>
<model>
  <name> Boolean Switching Model</name>
  <desc> Two parameter boolean switching model </desc>
</model>
<param>
  <dim> 4 </dim>
  <bounds>
<lower> 2.0 0.6 1.0 2.5 </lower>
<upper> 2.0 0.6 1.0 2.5 </upper>
  </bounds>
  <subdiv>
    <depth> 2 </depth>
	<sizes> 2 2 2 2  </sizes>
</subdiv>
</param>
<phase>
  <dim> 4 </dim>
  <bounds>
    <lower> 0.0 0.0 0.0 0.0 </lower>
    <upper> 0.0 0.0 0.0 0.0 </upper>
  </bounds>
  <subdiv>
    <init> 0 </init>
    <min> 4 </min>
    <max> 8 </max>
    <limit> 10000 </limit>
  </subdiv>
</phase>
</config>
