<config>
<model>
  <name> Boolean Switching Model</name>
  <desc> Two parameter boolean switching model </desc>
</model>
<param>
  <dim> 2 </dim>
  <bounds>
    <lower> 0.0 0.0 </lower>
    <upper> 200.0 200.0 </upper>
    <sizes> 2 2 </sizes>
  </bounds>
  <subdiv>
    <depth> 2 </depth>
  </subdiv>
</param>
<phase>
  <dim> 4 </dim>
  <bounds>
    <lower> 0.0 0.0 0.0 0.0 </lower>
    <upper> 0.0 0.0 0.0 0.0 </upper>
  </bounds>
  <subdiv>
    <init> 0 </init>
    <min> 4 </min>
    <max> 8 </max>
    <limit> 10000 </limit>
  </subdiv>
</phase>
</config>
