<config>
<model>
  <name> Boolean Switching Model</name>
  <desc> Two parameter boolean switching model </desc>
</model>
<param>
  <dim> 2 </dim>
  <bounds>
    <lower> 0.0 20.0 </lower>
    <upper> 0.0 20.0 </upper>
  </bounds>
  <subdiv>
    <depth> 6 </depth>
  </subdiv>
</param>
<phase>
  <dim> 4 </dim>
  <bounds>
      <lower>  0.0   0.0   0.0  0.0  </lower>
      <upper>  30.0   200.0   30.0  30.0  </upper>
  </bounds>
  <subdiv>
    <init> 0 </init>
    <min> 15 </min>
    <max> 18 </max>
    <limit> 10000 </limit>
  </subdiv>
</phase>
</config>
