<config>
<model>
  <name>Leslie Model, Depth 12</name>
  <desc> This is a description. </desc>
</model>
<param>
  <dim> 2 </dim>
  <bounds>
    <lower> 0.0 0.0 </lower>
    <upper> 50.0 50.0 </upper>
  </bounds>
  <subdiv>
    <depth> 5 5 </depth>
  </subdiv>
</param>
<phase>
  <dim> 2 </dim>
  <bounds>
    <lower> 0.0 0.0 </lower>
    <upper> 320.056 224.040 </upper>
  </bounds>
  <subdiv>
    <init> 1 </init>
    <min> 24 </min>
    <max> 36 </max>
    <limit> 10000 </limit>
  </subdiv>
</phase>
</config>
