<config>
<model>
  <name>Leslie Model, Depth 12</name>
  <desc> This is a description. </desc>
</model>
<param>
  <dim> 2 </dim>
  <bounds>
    <lower> 19.0 21.0 </lower>
    <upper> 20.0 22.0 </upper>
  </bounds>
  <subdiv>
    <depth> 6 </depth>
    <sizes> 16 16 </sizes>
  </subdiv>
</param>
<phase>
  <dim> 2 </dim>
  <bounds>
    <lower> 0.0 0.0 </lower>
    <upper> 320.056 224.040 </upper>
  </bounds>
  <subdiv>
    <init> 8 </init>
    <min> 10 </min>
    <max> 12 </max>
    <limit> 10000 </limit>
  </subdiv>
</phase>
</config>
