<config>
<model>
  <name>Newton Model </name>
  <desc> Exploring the limiting angular dynamics of iterates in newton convergence. </desc>
</model>
<param>
  <dim> 2 </dim>
  <bounds>
    <lower> -0.32 1.81 </lower>
    <upper> -0.02 2.21 </upper>
  </bounds>
  <subdiv>
    <depth> 11 </depth>
  </subdiv>
  <periodic> 0 0 </periodic>
</param>
<phase>
  <dim> 1 </dim>
  <bounds>
    <lower> -3.14159265358979323846264338327950288 </lower>
    <upper> 3.14159265358979323846264338327950288 </upper>
  </bounds>
  <subdiv>
    <init> 12 </init>
    <min> 16 </min>
    <max> 20 </max>
    <limit> 1000 </limit>
  </subdiv>
  <periodic> 1 </periodic>
</phase>
</config>
