<!DOCTYPE html>
<html> 
<head> 
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>

      <title> Switching Boolean Databases </title> 
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection">
        <script type="text/javascript" src="js/jquery-1.4.2.min.js">
        </script>
        <script type="text/javascript" src="js/scripts.js">
        </script>

<style type="text/css">
            ul li {
              display: block;
                /*width : 300px;*/
                /*list-style-type: none;*/
            }
            ul li img {
                /*min-height : 45px;*/
                vertical-align : middle;
                /*border-bottom : 1px black solid;*/
            }
            li { 
                margin: 20px 0;
            }
</style>

</head> 

<body> 

<h1> List of Databases: </h1>

<div id="listContainer">
  <ul id="expList"> </ul>
</div>

<script  Language="JavaScript">

$(document).ready(function(){ 
//         /* call the php that has the php array which is json_encoded */
        $.getJSON('getDatabasePath.php', function(data) {
		var str="";
                /* data will hold the php array as a javascript object */
                // key:name, value:path
                // loop through the dimension
                $.each(data, function(keydim, dim) { 
                  str += "<li>" + keydim;
                  str += '<ul>';
                  // loop through the models
                  $.each(dim, function(keymodel,model) {
                    str += "<li>" + keymodel; 
// Add the network image
str += " &nbsp; &nbsp; <img src=" + "\"" + keydim +  "/" + keymodel + "/network.png\" width=\"250\" >";
// Add the query of the model 
str += " &nbsp; &nbsp; <a href=\"" + keydim + "/" + keymodel + "/indexSQL.html\" target=\"_blank\"> Model Query </a>";                    
                    str += '<ul>';
                    // loop through the permutation    
                    $.each(model, function(keypermutation,permutation) {
                        str += '<li>' + keypermutation;
// Add the equations
str += " &nbsp; &nbsp; <img src=" + "\"" + keydim +  "/" + keymodel + "/" + keypermutation + "/equations.png\" width=\"250\" >";
str+=" &nbsp; &nbsp; <a href=\"" + keydim +  "/" + keymodel + "/" + keypermutation  + "/Zoo/index.html\" target=\"_blank\"> Zoo </a> &nbsp; &nbsp; "
str+=" &nbsp; &nbsp; <a href=\"" +  keydim +  "/" + keymodel + "/" + keypermutation + "/Zoo/indexSQL.html\" target=\"_blank\"> ZooSQL </a></span>"
                        str += '</li>';
                    });
                    str += "</ul></li>";
                  });
                    str += "</ul></li>";
                });
               str += "</ul>";
$('#expList').html(str);
        });

 });

</script>

</body>
</html>
